@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-BoldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 700;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Heavy.otf) format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-HeavyItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 900;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-LightItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 300;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Medium.otf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-MediumItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 500;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-RegularItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 400;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-Medium.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap
}

@font-face {
  font-family: ONVIBE-UI font;
  src: url(/font/TTNorms-SemiboldItalic.otf) format("truetype");
  font-style: italic;
  font-weight: 600;
  font-display: swap
}
